.profile{
	position:relative;
	display:block;
	z-index:10;
    height: 45px;
	cursor:pointer;
}
.profile ul{
	position:relative;
	display:block;
	margin:0px;
	padding:0px;
	list-style:none;
}

.profile ul li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	color:#999;
}
.profile ul li a{
	display:block;
	padding:0 15px;
	font:13px Arial;
	color:#fff;
	line-height: 40px; 
	text-decoration:none;
}
.profile ul li > a:hover, .profile ul li:hover > a{
	background:#eee;
	color:#fff;
}
.profile ul li ul{
	position:absolute;
	left:0px;
	color:#fff;

	/* right:0px;  /* правый край */
	
	display:none;
	background:#111;
	white-space:nowrap;
}

.profile > ul > li:last-child > ul{/*последний пункт будет прикреплен по правому краю*/
	left:auto;
	right:0px; 
}
.profile ul li:hover > ul{display:block;}/*эта строчка реализует механизм выпадения*/
.profile ul li ul li{
	display:block;
	width:auto;
}
.profile ul li ul li a{
	display:block;
	text-transform:none;
	color:#fff;
}
.profile ul li ul li:first-child > a{border-top:0px;}
.profile ul li ul li a:hover, .profile ul li ul li:hover > a{
	background:#555;
}
.profile > ul > li:last-child > ul ul{left:auto; right:100%;}
